@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	margin: 0;
	padding: 0;
}
body{
	background: url("img/fd.jpg");
}
#content{
	width: 1100px;
	margin: auto;
}
header{
	height: 100px;
	display: flex;
	justify-content: space-between;
}
#Menu_Principale ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-right: 18px;
	margin-bottom: 20px;
}
#Menu_Principale li a{
	color: white;
	text-decoration: none;
	list-style: none;
	font-family: roboto;
}
#Menu_Principale li a:hover{
	color: red;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
}
.slider{
	border: solid 10px white;
}

#Menu_second ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: -3px;
}
.article{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.text h1{
	margin-bottom: 10px;
	color: #fff;

}
.text{
	width: 30%;
	text-align: justify;
	color: #999;
	font-family: Roboto;
	font-size: 11px;
}

.resa {
	width: 30%;
	background-color: #888;
	justify-content: center;
}

.resa a{
	color: #fff;
	text-decoration: none;
	font-family: roboto;
	font-size: 13px;
}
.resa li {
	margin-top: 5px;
	margin-left: 60px;
}
.resa ul{
	color: red;
}

.btn{
	margin-top: 10px;
	margin-left: 80px;
}

.calendrier{
	width: 30%;
	background-color: #333;
}

td{
	background-color: grey;
	padding: 5px;
}

footer p{
	margin-top: 20px;
	margin-bottom: 100px;
	text-align: center;
	color: #fff;
	font-family: roboto;
	font-size: 9px;
}






